/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laradock
.htpasswds
.well-known
cgi-bin
mytempdir
.ftpquota
inscriptions.tar.gz
comp*.phar
php.ini
inscriptions
